logs
*.log
npm-debug.log*

node_modules
dist
*.tsbuildinfo
*.local
!.docker/**/Dockerfile.local
.env
.env.*
!.env.example

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
